.first-div{
    border: 0px transparent solid;
    display: block;
    height: 400px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: #A11D21;
    margin-top: 50px;
    position: relative;
    overflow: hidden;

}
.slide:first-child{

}
.ls-nav-prev{
    left: 0px;
    width: 27px;
    height: 51px;
    z-index: 10000;
    top: 62px;
    position: absolute;
    background-position: 0px 0px;
    background-image: url('images/skin.png');

}
.ls-nav-next{
    right: 0px;
    width: 27px;
    height: 51px;
    z-index: 10000;
    top: 62px;
    position: absolute;
    background-image: url('images/skin.png');
    background-position: -150px 0px;
}
body{

}
.conveyer{
    margin-top: 100px;
    z-index: 20;
    position: absolute;
    left: -960px;
}
.radials{
    position: absolute;
    left: 465px;
    top: 40px;
    z-index: 30;
    opacity: 0;
}
.radials-sl-1{
    position: absolute;
    left: 550px;
    top: 210px;
    z-index: 40;
    opacity: 0;
}
.sl-1-text-header{
    font-size: 40px;
    position: absolute;
    width: 300px;
    top: 170px;
    z-index: 30;
    left: 1000px;

}
.sl-2-text-header
{
    font-size: 40px;
    position: absolute;
    width: 300px;
    top: 220px;
    z-index: 30;
    left: 1000px;
}
.sl-3-text-header{font-size: 40px;
    position: absolute;
    width: 250px;
    margin-bottom: 20px;
    top: 200px;
    z-index: 30;
    left: 1000px;}
.sl-1-text-normal{
    position: absolute;
    top: 290px;
    width: 400PX;
    font-size: 20PX;
    z-index: 30;
    left: -400px;
}
.sl-2-text-normal{
    position: absolute;
    top: 290px;
    width: 400PX;
    font-size: 20PX;
    z-index: 30;
    left: -400px;
}
.sl-1-text-front{
    position: absolute;
    top: 140px;
    width: 400PX;
    font-size: 20PX;
    z-index: 40;
    left: 430px;
    color: white;
    opacity: 0;
}
.sl-2-text-front
{
    position: absolute;
    top: 300px;
    width: 400PX;
    font-size: 20PX;
    z-index: 40;
    left: 520px;
    color: white;
    opacity: 0;
}
.bg-oval{
    position: absolute;
    top: 400px;
    left: -910px;
    z-index: 10;
}
.bg-oval-elongated{
    position: absolute;
    top:300px;
    left: 10px;
    z-index: 10;
}
.bg-oval-rotated{
    position: absolute;
    top: -700px;
    left: 950px;

    z-index: 10;
}
.watering-can{
 position: absolute;
    z-index: 40;
    top: -200px;
    left: 250px;

    opacity: 1;
}
.watering-can-water{
    position: absolute;
    z-index: 40;
 -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
    left: 550px;
    top: 180px;

    opacity: 0;
}
.person-images{
    background-image: url("images/person.png");
    top: 140px;
    left: 1000px;
    position: absolute;
    background-repeat: repeat-x;
    width: 300px;
    height: 50px;
    z-index: 30;
}

.dots{
    height: 76px;
    width: 76px;
    position: absolute;
    z-index: 30;

}
.ls-dots{
    background-image: url("images/dots.png");
}
.ls-dots-red{
    background-position: 0px 0px;
}
.ls-dots-orange{

}
.ls-dots-grey{
    background-position: -152px 0px;
}
.ls-dots-cream{
    background-position: -228px 0px;
}
.ls-dots-white{
    background-position: -304px 0px;
}
.ls-dots-blur{
    background-image: url("images/dots-blur.png");
}
.ls-dots-blur-white{

}
.ls-dots-blur-orange{
    background-position: -76px 0px;
}
.ls-dots-blur-grey{
    background-position: -152px 0px;
}
.ls-dots-blur-cream{
    background-position: -228px 0px;
}
.ls-dots-blur-more{
    background-image: url("images/dots-blur-more.png");
}
.ls-dots-blur-more-red{
    background-position: 0px 0px;
}
.ls-dots-blur-more-orange{
    background-position: -76px 0px;
}
.ls-dots-blur-more-grey{
    background-position: -152px 0px;
}
.ls-dots-blur-more-white{
    background-position: -304px 0px;
}
.ls-dot-1{
    top: 112px;
    left: 1000px;
}
.ls-dot-2{
    top: -50px;
    left: 535px;
}
.ls-dot-3{
    top: 410px;
    left: 420px;
}
.ls-dot-4{
    top: -50px;
    left: 420px;
}
.ls-dot-5
    {top: 400px;
    left: 620px;}
.ls-dot-6{
    top: 400px;
    left: 700px;
}
.ls-dot-7{
    top: 400px;
    left: 625px;
}
.ls-dot-8{
    top: 110px;
    left: 1000px;
}

.sl-2{
display: none;

}
.sl-3{

display: none;
}